.nav, .pagination, .carousel, .panel-title a { 
	cursor: pointer; 
}

.table .btn{
	font-weight: bold;
}

.imdb, .imdb:hover{
	/*background-color: #f3ce13;*/
	color: black;
}

.modal-dialog{
	width: 90%;
	max-width: 1280px;
}

.modal-loading {
	display: none;
	opacity: 0;
	z-index: 9999;
	background-color: rgba(255,255,255,0.75);
	position: absolute;
	top: 0px;
	left: 0;
	right: 0;
	bottom: 0px;
	-webkit-transition: all 0.5s ease-in-out;
	-moz-transition: all 0.5s ease-in-out;
	-o-transition: all 0.5s ease-in-out;
	transition: all 0.5s ease-in-out;
}

.modal-loading.show {
	display: block;
	opacity: 1;
}

.modal-loading .spinner {
	background: url("/images/loader.gif") no-repeat;
	position: absolute;
	top: 50%;
	left: 50%;
	width: 32px;
	height: 32px;
	margin-top: -16px;
	margin-left: -16px;
}
