
@{ng('angular', 'resource', 'route')}

<!DOCTYPE html>
<html ng-app="app">
	<head>
		@{meta}
		<meta charset="utf-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=10" />
		<meta name="format-detection" content="telephone=no" />
		<meta name="viewport" content="width=1024, user-scalable=yes" />
		<meta name="robots" content="all,follow" />
		<script src="http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.0/jquery.min.js"></script>
		<script src="/js/main.js"></script>
		

		@{head}
		@{favicon('favicon.ico')}
	</head>
	<body>
		<header class="navbar navbar-inverse navbar-static-top" role="navigation">
			<div class="container">
				<div class="navbar-header">
					<a class="navbar-brand" href="#">Popcorn drive</a>
				</div>
				<div class="navbar-collapse collapse">
					<ul class="nav navbar-nav pull-right">
						<li class="dropdown">
							<a href="#" class="dropdown-toggle" data-toggle="dropdown">Options <b class="caret"></b></a>
							<ul class="dropdown-menu">
								<li class="dropdown-header">Scans</li>
								<li ng-controller="ScanCtrl"><a href="#" ng-click="Shared.show = true;">Scans Folder ({{Shared.show}})</a></li>
								<li ng-controller="ExtensionCtrl"><a href="#" ng-click="modal()">Scans Extension</a></li>
								<li class="divider"></li>
								<li class="dropdown-header">Nav header</li>
								<li><a href="#">Separated link</a></li>
								<li><a href="#">One more separated link</a></li>
							</ul>
						</li>
					</ul>
				</div>
			</div>
		</header>
		<section class="container-fluid">
			@{body}
		</section>
	</body>
</html>