@{meta('title', 'description', 'keywords')}

@{js('ui-bootstrap-tpls-0.10.0.min.js')}

<!-- /app/css/ -->
@{ngStyle('bootstrap.min.css')}
@{ngStyle('bootstrap-theme.min.css')}
@{ngStyle('app')}

@{ngResource('movie')}
@{ngResource('scan')}
@{ngResource('extension')}

<!-- cdnjs -->
@{ngLocale('en-us')}

<!-- /app/controllers/ -->
@{ngController('modalIframe')}
@{ngController('movie')}
@{ngController('scan')}
@{ngController('extension')}


<div ng-controller="ScanCtrl">
	<div class="panel panel-primary fade in" ng-if="Shared.show">
		<div class="panel-heading">
			<h2 class="panel-title">
				Folders to be scanned <span class="badge">{{ scans.length }}</span>
				<button type="button" class="close" ng-click="Shared.show = false">x</button>
			</h2>

		</div>
		<div class="panel-body">
			<ul class="list-group">
				<li ng-repeat="scan in scans"  class="list-group-item">
					<form ng-submit="update(scan)">
						<div ng-include src="'/templates/formScan.html'"></div>
					</form>
				</li>
			</ul>
			<form ng-submit="create()">
				<div ng-include src="'/templates/formScan.html'"></div>
			</form>
		</div>
	</div>
</div>

<div ng-controller="MovieCtrl" class="panel panel-primary">
	<div class="panel-heading">
		<h2 class="panel-title">Movies founded ({{ movies.length }})</h2>
	</div>
	<table class="panel-body table table-striped">
		<thead>
			<tr>
				<th>Title</th>
				<th>&nbsp;</th>
				<th>&nbsp;</th>
				<th>&nbsp;</th>
				<th>&nbsp;</th>
			</tr>
		</thead>
		<tbody>
			<tr ng-repeat="movie in movies">
				<td>{{ movie.title }}</td>
				<td>
					<div class="btn-group">
						<button class="btn btn-default" ng-click="wikipediaModal(movie.title)"/>Wikipedia</button>
						<button class="btn btn-default" ng-click="wikipediaExt(movie.title)"/>
							<span class="glyphicon glyphicon-new-window"></span>
						</button>
					</div>
				</td>
				<td>
					<div class="btn-group">
						<button class="btn btn-warning imdb" ng-click="imdbModal(movie.title)"/>IMDb</button>
						<button class="btn btn-warning imdb" ng-click="imdbExt(movie.title)"/>
							<span class="glyphicon glyphicon-new-window"></span>
						</button>
					</div>
				</td>
				<td><input type="button" class="btn btn-primary" value="edit" ng-click="edit(movie._id)"/></td>
				<td>
					<button class="btn btn-primary" ng-click="delete(movie._id)"/>
						<span class="glyphicon glyphicon-trash"></span>
					</button>
				</td>
			</tr>
		</tbody>
	</table>

	<div ng-include src="'/templates/formMovie.html'" ng-show="isForm"></div>
</div>
