<br />
<hr />
<br />
<h2>Edit movie</h2>
<br />
<div>Alias:</div>
<p class="input-group">
	<input type="text" ng-model="movie.title" class="form-control" />
	<span class="input-group-btn">
		<button class="btn btn-primary" ng-click="update()">Save</button>
		<button class="btn btn-primary" ng-click="cancel()">cancel</button>
	</span>
</p>