<p class="input-group">
	<input type="text" ng-model="scan.uri" placeholder="scan folder" class="form-control"/>
	
	<span class="input-group-btn">
		<input class="btn btn-primary" type="submit" value="edit" ng-if="scan.id"/>
		<input class="btn btn-primary" type="button" value="delete" ng-click="delete(scan.id)" ng-if="scan.id">

		<input class="btn btn-primary" type="submit" value="add" ng-if="!scan.id"/>
	</span>
</p>