<div class="modal-header">
	<button type="button" class="close" data-dismiss="modal" ng-click="cancel()">×</button>
</div>
<div class="modal-body">
	<div class="row">
		<div class="col-xs-6 col-sm-4 col-md-3 col-lg-2 well-sm" ng-repeat="extension in extensions">
			<div class="input-group " >
				<span class="input-group-addon">
					<input type="checkbox" ng-model="extension.active"/>
				</span>
				<span class="form-control">{{extension.extension}}</span>
			</div>
		</div>
	</div>
	<div class="modal-loading" ng-class="{show: isLoading}"><div class="spinner"></div></div>
</div>
<div class="modal-footer">
	<button class="btn btn-primary" ng-click="ok()">OK</button>
	<button class="btn btn-warning" ng-click="cancel()">Cancel</button>
</div>