
<div class="modal-header">
	<button type="button" class="close" data-dismiss="modal" ng-click="cancel()">×</button>
</div>
<div class="modal-body">
	<iframe ng-src="{{url}}" style="zoom:0.60" width="100%" height="800" onLoad="modalIframeLoaded()" frameborder="0"></iframe>

	<div class="modal-loading" ng-class="{show: isLoading}"><div class="spinner"></div></div>
</div>